/* Import "work sans" font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* General CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-clr: #131313;
  --secondary-clr: #424242;
  --tertiary-clr: #727272;
  --quaternary-clr: #ff900e;
  --bg-primary-clr: rgba(255, 144, 14, 0.1);
  --white-clr: #fff;
  --black-clr: #000;
}

body {
  font-family: "Work Sans", sans-serif;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}

img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* Reusgable CSS Classes */
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.primary-header {
  color: var(--primary-clr);
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
.secondary-header {
  color: var(--secondary-clr);
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
}
.section-header {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-clr);
}

.section-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--tertiary-clr);
  padding: 2rem 0;
}

/*Header nav section start*/
header {
  background-color: var(--bg-primary-clr);
}
nav {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.secondary-header__menu {
  font-weight: 500;
  margin-top: 1.5rem;
}

.secondary-header__menu .item {
  padding: 0.5rem 1.5rem;
}
.secondary-header__menu .item:hover {
  background-color: rgba(255, 143, 14, 0.151);
}
.banner {
  text-align: center;
  padding: 2rem;
}
.section-description__banner {
  text-align: justify;
  text-align-last: center;
}

/*Header nav section end*/

/* Media Qurey */

/* Tablet view start */
@media screen and (min-width: 576px) {
  .primary-header {
    font-size: 4rem;
  }
  .section-description {
    padding: 2rem 1rem;
  }
}
/* Tablet view end */

/* Laptop view start */
@media screen and (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .secondary-header__menu {
    margin-top: 0;
    display: flex;
  }
  .section-description {
    padding: 2rem;
  }
}
/* Laptop view end */

/* Desktop view start */
@media screen and (min-width: 992px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-description {
    padding: 2rem 9rem;
  }
}
/* Desktop view end */
